{% extends 'base.html.twig' %}

{% block title %}Théâtre de l'Alchimiste
{% endblock %}


{% block body %}

	<div class="opac">
		<div class="carousel slide" id="myCarousel" data-bs-ride="carousel">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="{{ asset('dossierIamge/ruine_10.jpg') }}" class="d-block w-100 taille" alt="Slide 1">
				</div>
				<div class="carousel-item">
					<img src="{{ asset('dossierIamge/villag10.jpg') }}" class="d-block w-100 taille" alt="Slide 2">
				</div>
				<div class="carousel-item">
					<img src="{{ asset('dossierIamge/greek-10.jpg') }}" class="d-block w-100 taille" alt="Slide 3">
				</div>
			</div>
		</div>
		<h1 class="acroche">
			Le monde entier est un théâtre, Et tous,<br>
			hommes et femmes, n'en sont que les acteurs.
			<br>Et notre vie durant
								nous jouons
								plusieurs rôles.
		</h1>
	</div>


	<div class="testevenementmodele superconteneur" id="eventdispo" width="100%">
		<h1>&nbsp &nbsp &nbsp Evenements Actuels :</h1>
		<br><br><br>
		<div class="conten">
			{% for evenement in evenements %}
				<div class="a-box">
					<div class="img-container">
						<div class="img-inner">
							<div class="inner-skew">


								{% if evenement.image == null %}
									<img src="{{ asset('dossierIamge/evenement.gif') }}" alt="Slide 2">
								{% else %}
									<img src="{{asset('/dossierIamge/' ~ evenement.image)}}" alt="{{ evenement.titre }}">
								{% endif %}


							</div>
						</div>
					</div>
					<div class="text-container">
						<h3>{{ evenement.titre }}</h3>
						<p class="price">{{ evenement.prix }}
							€</p>
						{{ evenement.description|slice('0', '200') ~ '...' }}

					</div>
					<div class="action">
						<div class="ensavoir">
							<a href="{{path('ensavoir',{'id':evenement.id})}}" target="_blank" rel="noopener noreferrer">en savoir
																						plus<span>&rarr;</span>
							</a>
						</div>
						<div class="reserver">
							<a href="{{path('reservation', {'id':evenement.id})}}" target="_blank" rel="noopener noreferrer">reserver</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<br><br><br>
		<div class="flex justify-center mb-8 ">
			{{ knp_pagination_render(evenements) }}
		</div>
	</div>


	<div class="offreztheatre  " id="offreztheatre">
		<h1>offrez du théâtre !</h1>
		<p>
			Offrez a vos proche une chance pour decouvrir le theatre
		</p>
		<p>
			L'alchimiste vous propose des bons cadeaux qui permettent de choisir librement des spectacles et dates de
								venues.</p>

		<br><br><br>
		<div class="offre">
			<img class="cardoffre" src="{{asset('/offre/creme.png')}}" alt="image par defaut">
			<img class="cardoffre" src="{{asset('/offre/vert.png')}}" alt="image par defaut">
			<img class="cardoffre" src="{{asset('/offre/rose.png')}}" alt="image par defaut">
		</div>
		<br><br><br>
		<p>Pour plus d'information veillez cliquer
			<a href="{{path('app_contact')}}">ICI</a>
		</p>
	</div>


	<div class="umap" id="umap">
		<div class="lieu">
			<h1>comment venir ?</h1>
			<h2>accès à L'ALCHIMISTE</h2>
			<ul>
				<li>le bus : à 7 minutes de l'arrêt "Hotêl de Ville"</li>
				<li>
					le train : à 15 minutes à pied de la gare de Dieppe</li>

			</ul>
			<h2>accès en salle</h2>
			<p>Votre placement en salle est garanti jusqu’à 5 minutes avant le début de la représentation. Une fois le
											spectacle
											commencé, vous ne pourrez plus accéder à la salle.</p>
		</div>
		<div class="map">
			<iframe width="100%" height="400px" frameborder="0" allowfullscreen allow="geolocation" src="//umap.openstreetmap.fr/en/map/untitled-map_1019754?scaleControl=false&miniMap=true&scrollWheelZoom=false&zoomControl=true&editMode=disabled&moreControl=true&searchControl=null&tilelayersControl=null&embedControl=null&datalayersControl=true&onLoadPanel=undefined&captionBar=false&captionMenus=true&datalayers=3149931%2C3149947#18/49.92541/1.07201"></iframe>
		</div>

	</div>
{% endblock %}
