{% extends 'base.html.twig' %}


{% block title %}evenement dispo{% endblock %}

{% block body %}
<div class="container">


    <div class="carousel slide" id="myCarousel" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active"> public\dossierIamge
                <img src="{{ asset('dossierIamge/event65bba4f6a88a5.png') }}" class="d-block w-100 taille" alt="Slide 1">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('dossierIamge/event65bba4f6a88a5.png') }}" class="d-block w-100 taille" alt="Slide 2">
            </div>
            <div class="carousel-item">
                <img src="{{ asset('dossierIamge/event65bba4f6a88a5.png') }}" class="d-block w-100 taille" alt="Slide 3">
            </div>
        </div>
    {% for evenement in evenements %}
    <div class="row mt-3 mb-4">
                <div class="col-md-4 mobile">
                    <img src="{{asset('/dossierIamge/' ~ evenement.image)}}" alt="{{ evenement.titre }}" class="img-fluid">
                </div>
        <div class="col-md-8">
            <h1 class="mt-4 mt-md-0">{{ evenement.titre }}</h1>
            <h2>{{ evenement.prix }} €</h2>
            <hr>
          
              
            
           
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}