<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://bootswatch.com/5/lux/bootstrap.min.css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		<script src="{{asset('assets/js/carrousel.js')}}"></script>
		<link rel="stylesheet" href="{{asset('assets/css/style.css')}}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">

	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="{{path('app_home')}}">l'alchimiste</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor01">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="{{path('app_home')}}">Accueil
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_home')}}">Evenements</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{path('app_home')}}">Notre histoire</a>
						</li>
						{% if app.user %}
							<li class="nav-item">
								<a class="nav-link" href="{{path('app_evenement_new')}}">Ajouter un evenement</a>
							</li>
						{% endif %}


						<li class="nav-item"></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mon compte</a>
							<div class="dropdown-menu">
								{% if app.user %}
									<a class="dropdown-item" href="#">Mon profil</a>
									{% if is_granted('ROLE_ADMIN')  %}

										<a class="dropdown-item" href="{{path('admin')}}">Administration</a>
									{% endif %}
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="{{path('app_logout')}}">Deconnexion</a>


								{% else %}

									<a class="dropdown-item" href="{{path('app_login')}}">Connexion</a>


									<a class="dropdown-item" href="{{path('app_register')}}">Inscription</a>

								{% endif %}
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>


		{% block body %}
			<div class="vide"></div>
		{% endblock %}
	</body>
</html>
